<p>Añadir comentario:</p>

<form method="post" action="/quizes/<%=quizid%>/comments" id="formcomment" >
	<input type="text" id="comment" name="comment[texto]" value="" />
	<button type="submit" id="enviar">Enviar</button>
</form>