<ul class="creditos">
	<li id="photo">
		<img src='<%= photo %>' title="pseudphoto author" alt="photo author" />
	</li>
	<li>Hi. Salim</li>
</ul>
<span id="aislado">Ya se pondrá algún vídeo de un gato de menos de 30sg practicando kung-fu</span>
