<% // se ha puesto table por seguir los guiones %>
<table>
	<% 
	if( busqueda )
	{
	%> 
		<caption>Preguntas encontradas</caption> 
	<% 
		if( !quizes.length ){ %> <tr><td>Ninguna coincidencia en la búsqueda</td></tr> <%}
	} %>
	<tbody>
	<% var i; for(i=0; i<quizes.length; i++) { %>
			<tr>
				<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
				<td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></td>
			</tr>
	<% } %>
	</tbody>
</table>
<p><a href="/quizes/new"><button type="button" id="create">Crear pregunta</button></a></p>

<div class='busqueda'>
	<h3>Búsqueda de preguntas</h3>

	<form action='quizes' method='get'>
		<input type="text" name="search" value="Busqueda..." onclick="this.value=''; return false;" id="search" />
		<input type="submit" value="Enviar" id="enviar" />
	</form>
</div>